@import url('https://fonts.googleapis.com/css?family=Lobster');
html, body{
    height: 100%;/***********/
}
header{
    background-color: rgb(0, 0, 0);
}
header .container{
    background-color: rgb(255, 255, 255);
}
header h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
    font-size:6rem;
	box-shadow: 0px 0px 80px 5px rgb(0, 0, 0);
}
footer{
    background-color: black;
    height: 30px;
}
main{
    min-height: calc(100% - (30px + 168px));/*******/
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
}
#Cerrar{
    display:none;
}
#insertar, #insertarsmart, #insertartele, #insertarCat{
    margin: 0 5px;
}